.Signup-Form {
    text-align:  center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding: 20px;


}
form {
    display: flex;
    
     flex-direction: column; 
     width: 300px;
     margin: 20px auto;

}
 input {
    margin: 8px 0;
    width: 100%;
    padding: 4px;
    border: 1px solid grey;
    border-radius: 4px;

 }
buttom {
    padding: 8px;
    background: black;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
