.signup-form {
    justify-content: center;
    
    text-align:  center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    padding: 20px;
    width: 350px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}
.signup-form div {
    margin-bottom: 15px;
}
 .signup-form input {
    margin: 8px 0;
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 14px;
 }
.signup-form button {
    padding: 12px;
    background: black;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}
.signup-form p {
    font-size: 14px;
    margin-top: 10px;margin-bottom: 10px;

}
